.mesh-bg {
    position: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.dot-grid {

    /* used radial grad to set up dot grid */
    background-image: radial-gradient(#ffffff 0.1%, transparent 0.6%);
    background-color: rgb(0, 0, 0);

    /* Size of the dots */
    background-size: 30px 30px;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.gradient-bg {

    /* radial glow around arrow */
    background-image: radial-gradient(circle at var(--x) var(--y), rgba(47, 93, 232, 0.15) 5%, transparent 20%);
    position: fixed;

    /* initial gradient position */
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    /* Prevents the gradient from blocking mouse events */
    pointer-events: none;
}